<footer class="footer">
    <a href="/inicio" class="footer-item"><i class="fas fa-home"></i></a>
    <a href="/informacion" class="footer-item"><i class="fas fa-info-circle"></i></a>
    <a href="/comunidad" class="footer-item"><i class="fas fa-comments"></i></a>
    <a href="/notificaciones" class="footer-item"><i class="fas fa-bell"></i></a>
    <a href="/perfil" class="footer-item"><i class="fas fa-user"></i></a>
</footer>