<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cambiar contraseña</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/changePassword.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>

<body class="dashboard-page">

    <%- include('partials/header', {
        linkLeft: '/perfil',
        iconLeft: 'fa-solid fa-chevron-left',
        leftFunction: '',
        linkRight: '',
        iconRight: '',
        rightFunction: '',
        rightExtraClass: ''
    }) %>

    <main class="content">

        <form action="/perfil/changePassword" method="POST" class="password-form">
            <div class="form-group">
                <label for="password">Contraseña actual</label>
                <input type="password" id="password" name="password" required class="input-text">
            </div>
            <div class="password-requirements">
                <p>Incluye mayúsculas, minúsculas, números y uno de estos caracteres: !@#$%&*?/\</p>
            </div>
            <div class="form-group">
                <label for="newPassword">Nueva contraseña</label>
                <input type="password" id="newPassword" name="newPassword" required class="input-text">
            </div>
            <div class="form-group">
                <label for="confirmPassword">Confirmar nueva contraseña</label>
                <input type="password" id="confirmPassword" name="confirmPassword" required class="input-text">
            </div>
            <% if (typeof error !== 'undefined') { %>
                <div class="error-message"><%= error %></div>
            <% } %>            
    
            <button type="submit" class="btn">Guardar cambios</button>
        </form>
    
    </main>

    <footer class="footer"></footer>

</body>
<script src="script.js"></script>
</html>