
/* Estilos de body para cada tipo de página */
body.login-page {
    background-color: #7a1111;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body.dashboard-page {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Estilos de la caja de inicio de sesión */
.login-box {
    background: white;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 300px;
    text-align: center;
}

.login-box h2 {
    margin-bottom: 10px;
}

.login-box input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-box button {
    background: #862633;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.form-container button {
    margin-top: 10px;
    background: #862633;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.login-box button:hover {
    background: #5a0e0e;
}

.login-box p {
    font-size: 14px;
}

.login-box a {
    color: #7a1111;
    text-decoration: none;
    font-weight: bold;
}

.login-box a:hover {
    text-decoration: underline;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-group {
    position: relative;
    margin: 15px 0;
    text-align: left;
}

.input-group input {
    width: 100%;
    padding: 10px 10px 5px;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    background: transparent;
    font-size: 16px;
}

.input-group label {
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: 14px;
    color: #777;
    pointer-events: none;
    transition: 0.3s ease;
}

.input-group input:focus ~ label,
.input-group input:not(:placeholder-shown) ~ label {
    top: -10px;
    font-size: 12px;
    color: #862633;
}

.line {
    width: 100%;
    height: 2px;
    background: #862633;
    transform: scaleX(0);
    transition: transform 0.3s ease;
    transform-origin: left;
}

.input-group input:focus ~ .line {
    transform: scaleX(1);
}

.remember-forgot {
    align-items: center;
    font-size: 14px;
    margin: 10px 0;
}

.error-message {
    color: red;
    margin-top: 10px;
}

/* Estilos de la caja de registro */
.form-container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 300px;
    text-align: center;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-group label {
    display: block;
    margin-top: 5px;
    font-size: 14px;
    text-align: left;
    color: #333;
}

.line {
    height: 1px;
    background: #ccc;
    margin-top: 5px;
}

.terms {
    font-size: 14px;
    text-align: left;
}

.terms a {
    color: #7a1111;
    text-decoration: none;
}

.terms a:hover {
    text-decoration: underline;
}

.login-link p {
    font-size: 14px;
}

.login-link a {
    color: #7a1111;
    font-weight: bold;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}

.password-requirements {
    font-size: 0.75rem;
    margin-bottom: 1rem;
    color: #555;
}

/* Estilos del header general */
header {
    background-color: #7a1111;
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.logo {
    color: white;
    font-size: 48px;
    font-weight: bold;
    font-family: Arial, sans-serif;
}

.iconRight {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 24px;
    color: #ffffff;
    cursor: pointer;
}

.iconLeft {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    font-size: 24px;
    color: #ffffff;
    cursor: pointer;
}

/* Canva en blanco para el contenido */
.content{
    margin-top: 75px;
    margin-bottom: 57px;
    padding: 20px;
    overflow-y: auto;
    height: calc(100vh - 100px);
    width: 100%;
    background-color: white;
}

/* Estilos para el footer */
.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 57px;
    background-color: #7a1111;
    padding: 15px 0;
}

.footer-item {
    text-decoration: none;
    color: #ffffff;
    font-size: 24px;
    cursor: pointer;
    transition: color 0.3s ease;
}

/* Estilo de texto h1 */
h1 {
    color:#5a0e0e;
    margin-top: 15px;
    margin-bottom: 10px;
}

/* Estilos del carrusel */
.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    max-width: 800px;
    margin: auto;
}

.carousel-container {
    width: 80%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    flex: 0 0 calc(100% / 3);
    object-fit: cover;
    border-radius: 10px;
    background-color: #7a1111;
    color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;

}

.carousel-item img {
    max-width: 100%;
    height: auto;
    border-radius: 10px 10px 0px 0px;
}

button {
    background-color: #7a1111;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 24px;
    transition: 0.3s;
}

button:hover {
    background-color: #5a0e0e;
}

.single-image-carousel .carousel-item {
    flex: 0 0 100%;
}

/* Estilos de la grilla de información */
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
}

.grid-item {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100px;
    border-radius: 8px;
    color: white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #075e54;
}

.grid-item-img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.grid-item-content {
    position: absolute;
    background-color: rgba(122, 17, 17, 0.75);
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    width: 80%;
}

/* Subheader para el foro actual .mejorar...............................................................................*/
.subheader {
    position: relative;
    width: 100%;
    background-color: #7a1111;
    color: #fff;
    padding: 1rem;
    text-align: center;
    border-bottom: 1px solid #ddd;
    border-radius: 10px;
}

.subheader-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.foro-image {
    width: 60px;
    height: 60px;
    border-radius:50%;
    object-fit: cover;
}

.subheader h2 {
    margin: 0;
    font-size: 24px;
}

.subheader p {
    margin: 0;
    font-size: 14px;
    color: #f0eaea;
}

.star-icon, .exit-icon {
    position: absolute;
    top: 10px;
    font-size: 20px;
    cursor: pointer;
}

.star-icon {
    left: 10px;
    color: #fff;
}

.exit-icon {
    right: 10px;
    color: #fff;
}

/* Estilos para cada post */
.post {
    width: 100%;
    max-width: 500px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 15px;
    margin: 15px auto;
}

.post-header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.username {
    margin: 0;
    font-size: 16px;
}

.post-date {
    margin: 0;
    font-size: 12px;
    color: gray;
}

.post-content {
    margin: 10px 0;
    font-size: 14px;
}

.post-image {
    width: 100%;
    margin: 10px 0;
}

.post-image img {
    width: 100%;
    border-radius: 10px;
    max-height: 300px;
    object-fit: cover;
}

.post-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    border-top: 1px solid #ddd;
}

.post-stats {
    display: flex;
    gap: 15px;
    font-size: 14px;
    color: #555;
}

.post-stats i {
    margin-right: 5px;
}

.post-stats button {
    display: flex;
    align-items: center;
    gap: 5px;
    background: none;
    border: none;
    font-size: 14px;
    color: #555;
    cursor: pointer;
    transition: color 0.3s;
}

.post-stats button:hover {
    color: #000;
}

.post-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #555;
    transition: color 0.3s;
} /* desgeneralizar el estilo del botón, buscar padre y desheredar al hijo del post */

.post-btn:hover {
    color: #000;
}

/* Estilos para nuevos comentarios */
.comment-form textarea {
    border: 1px solid #ccc;
    font-family: inherit;
    font-size: 1rem;
}

.comment-form .btn {
    background-color: #7a1111;
    color: white;
    border: none;
    cursor: pointer;
}

.comment-form .btn:hover {
    background-color: #5a0e0e;
}

/* Estilos para el menu desplegable / slidemenu */
.slide-menu {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background: #7a1111;
    color: white;
    transition: left 0.3s ease-in-out;
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
    z-index: 1001;
}

.close-btn {
    background: none;
    border: none;
    font-size: 30px;
    color: white;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

.slide-menu ul {
    list-style: none;
    padding: 0;
    margin: 50px 0;
}

.slide-menu ul li {
    margin: 15px 0;
}

.slide-menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.slide-menu.active {
    left: 0;
}

.slide-menu ul ul {
    margin: 0;
    padding-left: 15px;
}

.foro-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    vertical-align: middle;
    border-radius: 50%;
}

/* Estilos para el boton de crear post y crear foro */
.newPostBtn {
    position: fixed;
    bottom: 80px;
    right: 20px;
    width: 60px;
    height: 60px; 
    background-color: #7a1111;
    color: white;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    transition: background 0.3s ease-in-out;
    text-decoration: none;
}

.newForoBtn {
    position: fixed;
    bottom: 145px;
    right: 20px;
    width: 40px;
    height: 40px; 
    background-color: #7a1111;
    color: white;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    transition: background 0.3s ease-in-out;
    text-decoration: none;
}

/* Estilos para nuevo foro */
.foro-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 50px auto;
}

.form-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.input-text {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}

.input-file {
    display: none;
}

.image-upload-label {
    display: inline-block;
    background-color: #007BFF;
    color: #fff;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 4px;
    margin-bottom: 10px;
}

.image-upload-label:hover {
    background-color: #0056b3;
}

.checkbox-label {
    display: block;
    margin-top: 10px;
    font-size: 14px;
}

/* Estilos para nuevo post */
.post-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 50px auto;
}

.input-text {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    resize: vertical;
}

.input-file {
    display: none;
}

.image-upload-label {
    display: inline-block;
    background-color: #28a745;
    color: #fff;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
}

.image-upload-label:hover {
    background-color: #218838;
}

/* Estilos para la lista de foros */
.lista-foros {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
    padding: 10px;
    max-width: 1200px;
    margin: 0 auto;
}

.foro-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    display: flex;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
}

.lista-foros .foro-icon {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 20px;
}

.foro-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.foro-card h2 {
    font-size: 1.5rem;
    color: #333;
}

.foro-card p {
    color: #555;
    font-size: 0.8rem;
}

.foro-card .btn {
    background-color: #808080;
    color: white;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 5px;
}

/* Estilos para las notificaciones */
.notification {
    display: flex;
    flex-direction: column;
    background: #f5f5f5;
    padding: 10px 15px;
    border-radius: 10px;
    margin-bottom: 10px;
    position: relative;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.notification-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.notification-title {
    font-size: 16px;
    font-weight: bold;
}

.notification-time {
    font-size: 12px;
    color: #777;
}

.notification-content {
    font-size: 14px;
    margin: 5px 0;
    color: #333;
}

.notification-indicator {
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.notification-link {
    text-decoration: none;
    color: inherit;
    display: block;
}

/* Estilos para el perfil */
.profile-card {
    width: 100%;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    background: white;
}

.background-image {
    width: 100%;
    height: 120px;
    background: url('images/background_default_image.png') center/cover no-repeat; /*imagen unis*/
}

.profile-info {
    padding: 0 20px 20px 20px;
    position: relative;
    margin-top: -50px;
}

.profile-profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 4px solid white;
    object-fit: cover;
}

.profile-name {
    margin: 10px 0 10px;
    font-size: 18px;
    font-weight: bold;
}

.profile-description {
    font-size: 14px;
    color: gray;
}

.settings-container {
    width: 100%;
    background: #fff;
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.settings-item {
    display: flex;
    align-items: center;
    padding: 12px 15px;
    font-size: 16px;
    color: #333;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    transition: background 0.3s ease;
}

.settings-item i {
    font-size: 18px;
    margin-right: 10px;
    color: #555;
}

.settings-item:last-child {
    border-bottom: none;
}

.settings-item:hover {
    background: #f0f0f0;
}

.logout-btn {
    background: none;
    border: none;
    color: #d9534f;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
    font-weight: bold;
    padding: 12px 15px;
}

.logout-btn:hover {
    text-decoration: underline;
}

/* Estilos para página de edición de perfil */
.edit-profile-card {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    background: white;
    margin-bottom: 20px;
}

.edit-profile-form {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-group label {
    font-weight: bold;
    margin-bottom: 5px;
}

.form-input,
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.file-label input[type="file"] {
    margin-top: 5px;
    color : #7a1111;
}

/* Estilos para cambiar contraseña */
.password-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 50px auto;
}

/* Estilos para las cartas de juegos */
.card {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #7a1111;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    margin-bottom: 20px;
    text-decoration: none;
}

.card-image {
    background-color: #ffffff;
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.card-content {
    padding: 10px;
    font-size: 14px;
    background-color: #7a1111;
    color: #ffffff;
    text-decoration: none;
}

#game-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

#game-overlay {
    position: relative;
    width: 95%;
    height: 90%;
    background-color: #000;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

#game-frame {
    width: 100%;
    height: 100%;
    border: none;
}

#close-game {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10000;
    border: none;
    border-radius: 50%;
    padding: 8px 10px;
    font-size: 20px;
    cursor: pointer;
}